%p 
  Hello
  = @user.forename

%p
  Against all the odds, the 
  %strong
    = link_to "scrapbook", "http://scrapbook.spanner.org"
  exists. We built it this morning, tested it this afternoon and expect to repair it tomorrow, but still. It exists.
  
%p 
  The scrapbook is a place for you to put things that interest you, express something useful or provoke an interesting reaction. 
  This first version can take text and images, show reactions and attach comments. Much more will follow.

%p
  There is only one rule: You can't see anyone else's reaction until you have given your own.

%p
  = link_to "Please here to begin", @url

%p
  We will prime the system with interesting fragments from your first round of correspondence, but please feel free (indeed, compelled) to add more stuff.

%p
  If there are any problems - there will be problems - please let me know immediately by writing to will@spanner.org or replying to this message.
  
%p
  best wishes,
  
%p
  Will