#dialog
  %h1
    Upload error!
  %p
    %strong
      We apologise: you are seeing this page because of a problem with the image upload scripts.
  %p
    Please write to Will on <a href="will@spanner.org">will@spanner.org</a> to let him know. If you can tell him what browser you are using, and what version, that will help to fix the problem quickly.
  %p
    If you would like to send your image file and text with the message, he will be happy to upload it for you and publish your page.
  %p
    Sorry!
