- content_for :pagetitle do
  = t(:preferences)

%h1.pagetitle
  =t :preferences

.localnav
  / - if admin?
  /   = render :partial => 'people/admin_nav', :locals => {:login => true}
  / - else
  /   = render :partial => 'people/nav', :locals => {:login => true}

= render :partial => 'form'
