- scrap ||= @scrap

- if @reaction

- else
  - reaction = current_user.reactions.build(:scrap => @scrap)
  = form_for reaction do |f|
    - Scale.all.each do |scale|
      - score = reaction.scores.build(:scale => scale)
      = f.fields_for :scores, score do |sf|
        = sf.range_field :value, :class => "slider", :"data-values" => ""