#discussion
  %h1.pagetitle
    = t :help!

  %p
    The scrapbook has three purposes: to gather raw material, to help us to sift through it, and to allow people to hang out together in a context furnished with ideas.
    Its eventual goal is to arrive at an identity firmly rooted in your thinking and your aesthetic preferences. Its fond hope is that in the process you will become a more tightly knit group.
    
  %p
    There are three things you can do here: add material, give your reactions and add comments. A fourth will become apparent this week.
    
  %h2
    How to add material
  
  %p
    Click on 'Add scrap' in the masthead and a blank scrap will appear. 
  %p
    %strong
      To add an image, 
    click in the grey area (or in Firefox, you can just drop a picture there). 
    When your file has uploaded, a cropping and scaling interface will appear and so that you can adjust the positioning of your image on the page.
  %p
    %strong
      To add text,
    click on the 'text' tab just below the grey upload area and it will turn into a large text box. Type or paste your text in there. 
    Single carriage returns will be preserved as line breaks. Double returns will show as new paragraphs. No other formatting is supported: it's the text we're interested in.
  %p
    Video and audio are going to be supported soon, but perhaps not this week.
    
  %h2
    What material to add?
    
  %p
    That's broadly up to you, but keep in mind the purpose of the ite.
    Material is useful if it stimulates discussion, clarifies a point, captures a view or proposes a consensus. 
    Any of those things can be done directly or obliquely, and the image that seems just right is just as useful as the text.

  %p
    In the end, all we really need are a few key fragments that capture the ethos and feeling of the group. 
    To get them, we will need to spread out before we can converge. How far, we will find out.
    
  %h2
    Reactions are anonymous
    
  %p
    Whenever you first visit a scrap, you will see the thing itself and two reaction sliders. 
    No other context will be visible until you use the two sliders to give your immediate reaction. Be quick and candid. The 
    %strong
      Like &larr;&rarr; Dislike
    scale is for your personal reaction. The 
    %strong
      Us &larr;&rarr; Not us
    scale is for your sense of whether this is right for the group.
    
  %h2
    Discussion is vital
  %p
    Having reacted, you can join the discussion around that scrap. Here your remarks are credited and this is where we hope to see real progress. Please take part.


