@import definitions

$container-width: 960px
$header-height: 40px
$content-height: 720px
$caption-minheight: 120px

body
  background-color: $light
  color: $dark
  +light
  line-height: 1.5
  
a
  color: $rubine
  text-decoration: none
  +hover
  
strong, b
  +bold

em, i
  +italic

img
  border: 0
  padding: 0
  margin: 0
  
h1, h2
  line-height: 1
  +heading

h1.pagetitle
  margin: 0
  margin-top: -8px
  font-size: 4em
  +heading
  +caps

h2.waiting
  margin: 40px 0
  padding-left: 24px
  color: $mid
  background:
    position: 4px 6px
    repeat: no-repeat
    image: image-url('spinner.gif')

.nonie
  display: block
.ie
  display: none !important
  
.hide_until_reaction
  display: none

.droppable
  display: none

a.tag, a.detag
  padding-left: 16px
  min-width: 16px
  color: $tag
  background:
    position: 0 4px
    repeat: no-repeat
    image: image-url('tag_bullet.png')
  &:hover
    color: $hover
    background-position: 0 -90px
  &.add_tag
    background-position: 0 -28px
    background-image: image-url('minisymbols.png')
    &:hover
      background-position: 0 -44px
      

a.detag
  &:hover
    color: $hover
    background-position: 0 -90px
    background-image: image-url('detag_bullet.png')

input[type="text"], input[type="password"], input[type="email"], select, textarea
  +light
  color: $input
  padding: 5px
  border: 1px solid $pale
  font-size: 1.5em
  &.strong
    +bold
  &.destination
    color: $blue
  &.empty
    color: $pale
  &.minor
    font-size: 0.9em
  &.title
    +bold
    font-size: 2em
  &[disabled]
    color: $pale
    background-color: #fff
    border-color: $verypale
    +bold

.controls
  input[type="submit"]
    padding: 5px
    +light
    +border-radius
    font-size: 1.25em
    border: none
    background-color: $blue
    color: white
    padding: 10px 16px 10px 40px
    background:
      image: image-url('arrows.png')
      position: 8px -116px
      repeat: no-repeat
    &:hover
      background-color: $hover
    &:active
      background-color: darken($hover, 10%)
    &.unavailable
      background-color: $light
      cursor: default
  
.note, .formnote
  font-size: 0.8em
  color: $mid
  line-height: 1.3

p.formnote
  clear: left
  margin-top: 3px

.navigation
  #searchform
    margin: 5px 5px 0 0
    float: left
    margin: 5px
    margin-right: 60px
    input
      width: 160px
      background-color: $light
      border: 1px solid $pale
      padding: 5px
      color: $pale
      &:focus
        background-color: white
        border-color: $mid
        color: $input
  p
    float: left
    margin: 0
    font-size: 1.4em
    line-height: 32px
  a
    display: inline-block
    margin: 2px 6px 0 0
    padding: 2px 0 0 36px
    color: $mid
    background:
      image: image-url('navigation.png')
      position: 0 0
      repeat: no-repeat
    +hover
    &:hover
      background-position: 0 -32px
    &.grid
    &.chart
      background-position: 0 -64px
      &:hover
        background-position: 0 -96px
    &.add
      background-position: 0 -128px
      &:hover
        background-position: 0 -160px
    &.preferences
      background-position: 0 -256px
      &:hover
        background-position: 0 -288px
    &.logout
      background-position: 0 -192px
      &:hover
        background-position: 0 -224px
    &.invite
      background-position: 0 -320px
      &:hover
        background-position: 0 -352px
    &.discussion
      background-position: 0 -384px
      &:hover
        background-position: 0 -416px
    &.help
      background-position: 0 -448px
      &:hover
        background-position: 0 -480px

  
#container
  position: relative
  width: $container-width
  margin: 40px auto
  #header
    position: relative
    height: $header-height
    overflow: hidden
    h1
      float: left
      +heading
      font-size: 2em
      margin: 0
      a
        color: $mid
        +hover
    #nav
      float: right
            
  #content
    #scrap
      #body
        position: relative
        overflow: hidden
        min-height: $content-height
        background-color: $verypale
        margin: 0
        iframe
          margin: 0
        div.text
          margin: 40px 80px 50px 50px
          p
            margin: 0
            margin-bottom: 0.25em
        #admin
          position: absolute
          bottom: 10px
          right: 10px
          a
            display: inline-block
            margin-right: 5px
            padding: 5px
            +light
            +border-radius
            font-size: 0.85em
            border: none
            color: white
            padding: 5px 8px 5px 20px
            background:
              position: 0 0
              repeat: no-repeat
            &.edit
              background:
                color: $blue
                image: image-url('small_arrows.png')
                position: 2px -180px
              &:hover
                background-color: lighten($blue, 10%)
            &.delete
              background:
                color: $rubine
                image: image-url('crosses.png')
                position: 3px -85px
              &:hover
                background-color: $hover
            &:active
              background-color: darken($hover, 10%)
            &.unavailable
              background-color: $light
              cursor: default
      &.image
        #body
          padding: 0
          height: 720px
          p
            margin: 10px
      &.word, &.phrase
        #body
          line-height: 1.05
      #caption
        position: relative
        background-color: white
        min-height: $caption-minheight
        margin: 0
        padding: 10px
        #metadata
          width: 45%
          h2
            margin: 0 0 0.25em 0
          p
            margin: 0 0 0.25em 0
        #tags
          position: relative
          margin-top: 50px
          ul.tags, ul.tagger
            margin: 0
            padding: 0
            li
              display: inline
              float: left
              margin-right: 1em
              list-style: none
          p
            clear: left
        ul.tagger
          input
            font-size: 0.75em
            padding: 2px
            
        #reaction
          position: relative
          width: 50%
          float: right
          margin-left: 5%
          position: relative
          .minichart
            position: absolute
            top: 0
            left: 0
          .summary
            position: absolute
            left: 120px
            top: 5px
            margin: 0 0 0 20px
            color: $mid
            h4
              margin: 0
            p
              margin-top: 0
              margin-bottom: 0.2em
          #new_reaction
            p.slider
              clear: left
              height: 28px
              overflow: hidden
              margin: 10px 0
            label
              display: block
              float: left
              width: 50px
              margin: 0 10px
              line-height: 28px
              &.min
                text-align: right
            .sliderbar
              float: left
              margin-top: 10px
            .controls
              input[type="submit"]
                font-size: 0.8em
                background-image: none
                padding: 6px
                margin: 0 180px
            &.waiting
              +opacity(0.25)

          svg
            z-index: 1
          canvas
            position: absolute
            left: 0
            top: 0
          
    #scraps
      margin-top: 10px
      a.scrap_link
        color: $dark
        +opacity(0.9)
        &:hover
          color: $hover
          +opacity(1)
      .scrap
        position: relative
        display: block
        overflow: hidden
        background-color: white
        float: left
        width: 230px
        height: 174px
        margin-right: 10px
        margin-bottom: 10px
        .thumbnail
          position: absolute
          top: 0
          left: 0
          width: 230px
          height: 174px
          background:
            color: black
            position: center center
            size: cover
            repeat: no-repeat
          .playable
            position: absolute
            left: 0
            top: 0
            width: 230px
            height: 174px
            +opacity(0.75)
            background:
              position: center center
              repeat: no-repeat
              image: image-url('playable.png')
            &:hover
              +opacity(1)
        p
          margin: 10px
          
        &.image
          padding: 0
          p
            position: absolute
            margin: 0
            padding: 10px
            bottom: 0
            left: 0
            right: 0
            background-color: rgba(0,0,0,0.5)
            color: white
        &.word
          line-height: 1.05
        &.phrase
          line-height: 1.1
    #reactions.bigchart
      width: 800px
      height: 800px
      margin: 50px
      float: left
      position: relative
      svg
        z-index: 1
        circle
          cursor: pointer
        
      canvas
        position: absolute
        left: 0
        top: 0
      .xmin, .ymin, .xmax, .ymax
        position: absolute
        color: $mid
      .ymin
        bottom: 0
        left: 410px
      .xmin
        top: 410px
        left: 0
      .ymax
        top: 0
        left: 410px
      .xmax
        top: 410px
        right: 0
    #latest_posts
      min-height: 600px
      .post
        h4.poster
          +light
          font-size: 1.8em
          color: $mid
          margin-bottom: 5px
          span.post_scrap
            margin-left: 0.5em
            +bold
            font-size: 0.5em
            a
              color: $darkmid
              &:hover
                color: $hover
        .message
          p
            margin-top: 0
    
  #account
    width: 800px
    position: relative
    margin: 5px 0
    clear: both
    label
      +bold
      color: $dark
      font-size: 1.1em
    input[type="text"], input[type="password"], input[type="email"]
      width: 790px
      padding: 4px
      &.login
        font-size: 2em
      &.preferences
        font-size: 2em
      &.ok
        border-color: $match
      &.notok
        border-color: $link
    p.confirmation
      display: none
    span.reminder
      float: right
      a
        color: $mid
        &:hover
          color: $hover
  #footer
    position: relative
    clear: both
    padding: 50px 0 0 0
  #colophon
    position: relative
    clear: both
    font-size: 75%
    color: $mid
    +heading
    a
      color: darken($mid, 20)
      +hover


#discussion
  width: 960px
  margin-top: 20px


#flashes
  position: absolute
  top: 20px
  right: 50px
  width: 300px
  p
    display: none
    padding: 10px
    color: white
    +shadowed
    +bordered
    +border-radius
    &.notice
      background-color: $green
      border-color: darken($green, 10%)
    &.alert
      background-color: $rubine
      border-color: darken($rubine, 10%)
    a.closer
      display: block
      float: right
      width: 16px
      height: 16px
      margin-left: 10px
      margin-right: -5px
      +text-hidden
      background: 
        image: image-url('crosses.png')
        color: transparent
        position: 0 -96px
        repeat: no-repeat


#container #content #scrap.editing
  #caption
    .tabs
      position: absolute
      top: 0
      right: 20px
      a.tab, a.unavailable
        display: block
        overflow: hidden
        float: right
        width: auto
        height: 36px
        margin-right: 2px
        padding: 0 8px 4px 8px
        line-height: 44px
        background-color: $light
        color: $mid
      a.unavailable
        cursor: default
        color: $pale
      a.tab
        +hover
        &.here
          +bold
          height: 40px
          line-height: 48px
          background-color: #e2e1dd
          color: $dark
          +hover
    #metadata
      input[type="text"], textarea
        width: 580px
      textarea
        height: 100px
    
  #body
    overflow: visible
    position: none
    height: 720px
  
    .panel
      display: none
      margin: 0
      &.image
        display: block

    .text
      textarea
        margin: 40px 80px 50px 50px
        width: 830px
        height: 595px
        border: none
        background-color: transparent
        color: $input
        &.empty
          color: white

    .image
      p.instructions
        position: absolute
        top: 400px
        left: 376px
        width: 200px
        color: $dark
        text-align: center
        &.error
          top: 152px
      
      .overflow
        position: absolute
        overflow: hidden
        top: 0
        left: 0
        +opacity(0.25)
        img
          width: 100%
          height: 100%

      .controls
        position: absolute
        display: none
        top: 20px
        right: 10px
        width: 100px
        height: 32px
        .cancel  
          a
            display: block
            height: 32px
            line-height: 32px
            text-indent: 34px
            overflow: hidden
            color: white
            text-shadow: 1px 2px 3px #333
            background: 
              position: 0 0
              repeat: no-repeat
              image: image-url('close.png')
            &:hover
              color: $hover
              background-position: 0 -32px
            &:active
              color: $active
              text-shadow: none
              background-position: 0 -64px

      .dropbox
        position: absolute
        overflow: hidden
        top: 0
        left: 0
        width: 960px
        height: 720px
        &.hover
          background-color: #ecafba
          img
            +opacity(0.5)
        .progress_holder
          position: absolute
          overflow: hidden
          top: 310px
          left: 230px
          width: 500px
          height: 3em
          border: 1px solid $mid
          background-color: white
          z-index: 900
          +border-radius
          .progress
            position: relative
            width: 0%
            height: 100%
            background-color: $active
            background: transparent image-url('progress_stripes.png') repeat-x top left scroll
          .commentary 
            position: absolute
            top: 0
            left: 0
            width: 100%
            font-size: 1em
            line-height: 1
            padding: 1em
            text-align: center
        .waiter
          position: absolute
          overflow: hidden
          top: 310px
          left: 390px
          width: 240px
          height: 32px
          line-height: 32px
          padding-left: 40px
          color: $dark
          background: transparent image-url('upload_spinner.gif') no-repeat top left scroll
          display: none
        .preview
          position: absolute
          top: 0
          left: 0
          width: 960px
          height: 720px
          cursor: move
          +opacity(0.9)
          img
            width: 100%
            height: 100%
        .scaler
          position: absolute
          top: 640px
          left: 240px
          width: 480px
          height: 100px
          color: white
          +text-shadow(1px, 2px, 3px, #333)
          p.range
            position: relative
            width: 490px
            margin: 0 auto
            overflow: hidden
            img
              float: left
              margin-left: 5px
              +opacity(1)
            .slider
              display: block
              position: relative
              float: left
              width: 402px
              height: 50px
              background: transparent image-url('scale.png') no-repeat 0 20px
              .marker
                display: block
                position: absolute
                top: 9px
                left: 50px
                width: 16px
                height: 32px
                background: transparent image-url('slider.png') no-repeat top left
                cursor: move



.pagination
  position: relative
  clear: left
  margin: 40px 0
  height: 40px
  span
    display: block
    float: left
    margin-right: 5px
    a
      display: block
      background-color: $light
      color: $mid
      padding: 5px 10px
      min-width: 16px
      text-align: center
      +box-shadow(0 1px 3px #333)
      &:hover
        background-color: $hover
        color: white
      &:active
        background-color: $active
        +box-shadow(0 0 0 0)
        
      &:visited
        color: $dark
    &.current
      +bold
      background-color: white
      +box-shadow(0 1px 3px #333)
      color: $mid
      padding: 5px 10px
      min-width: 16px
      text-align: center
    &.gap
      border: 1px solid white
      padding: 5px 10px
      min-width: 16px
      text-align: center
      color: $dark



ul.suggestions
  position: absolute
  overflow: hidden
  color: $link
  margin: 0
  padding: 0
  background-color: white
  border: 1px solid $pale
  border-top: 0
  z-index: 200
  +box-shadow
  li
    a
      display: block
      padding: 8px 8px 8px 25px
      cursor: hand
      background:
        position: 6px 11px
        repeat: no-repeat
        scroll: scroll
      &.tag
        color: $tag
        background-image: image-url('tag_bullet.png')
      &.institution
        color: $inst
        background-image: image-url('inst_bullet.png')
      &.person
        color: $link
        background-image: image-url('person_bullet.png')
      &.hover
        color: white
        background-color: $active
        background-position: 6px -129px
      &:active
        color: $active
        background-color: white
        background-position: 6px -95px
  li.waiting
    height: 50px
    background:
      position: center center
      repeat: no-repeat
      scroll: scroll
      image: image-url('pale_spinner.gif')
       
