@import definitions

$container-width: 960px
$header-height: 86px
$content-height: 720px
$caption-minheight: 120px



body
  background-color: $bg
  color: white
  
div
  background-color: rgba(255,255,255, 0.1)
  
a
  color: $rubine
  text-decoration: none

#container
  position: relative
  width: $container-width
  margin: 40px auto
  #header
    position: relative
    height: $header-height
    overflow: hidden
    h1
      +heading
      font-size: 3em
      color: $dark
      a
        color: $dark
    #navigation
      position: absolute
      right: 0
      bottom: 0
      
  #content
    #scrap
      position: relative
      height: $content-height
      background-color: $pale
    #caption
      background-color: $light
      min-height: $caption-minheight
      #title
        width: 45%
      #reactions
        width: 50%
        float: right
        margin-left: 5%
    #scraps
      .scrap
        display: block
        float: left
        width: 230px
        margin-right: 10px
        margin-bottom: 10px

  #account
    background-color: white
    border: 1px solid $mid
    padding: 10px
    position: relative
    margin: 5px 0
    clear: both
    label
      +bold
      color: $dark
      font-size: 1.1em
    input[type="text"], input[type="password"], input[type="email"]
      width: 590px
      padding: 4px
      &.login
        font-size: 2em
      &.preferences
        font-size: 2em
      &.ok
        border-color: $match
      &.notok
        border-color: $link
    p.confirmation
      display: none
    span.reminder
      float: right
      a
        color: $mid
        &:hover
          color: $hover
