%p
  Hello 
  = @resource.name + "!"

%p
  Someone, perhaps you, has forgotten your password and wants to set a new one. 
  If that person was not you, please ignore this message and carry on using your old password.
  
%p
  If it was you, please click on this big link:
  
%h2
  = link_to 'Choose a new password', edit_password_url(@resource, :reset_password_token => @resource.reset_password_token)

%p
  Your password doesn't change until you complete this process, so if you remember the old one you can still 
  = link_to "sign in", new_user_session_path
  as usual.