- if current_page? root_path or current_page? :controller => "scraps", :action => "index"
  #searchform.fast
    %form{:action => scraps_url, :id => 'scrap_search', :"data-remote" => true}
      = form_tag do
        = text_field_tag(:tag, params[:tag], :placeholder => "search", :tag => 'tag', :class => 'search', :type => 'search')
- else
  #searchform.slow
    %form{:action => scraps_url, :id => 'scrap_search'}
      = form_tag do
        = text_field_tag(:tag, params[:tag], :placeholder => "search", :tag => 'tag', :class => 'search', :type => 'search')
  